:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-for-white-text: rgba(47, 48, 58, 0.8);
  --background-footer: #2f303a;
  --links-footer: rgba(255, 255, 255, 0.6);
  --signature-text-color: rgba(255, 255, 255, 0.4);
}

body {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}

/* logo top*/
.logo .logo-head {
  color: var(--accent-color);
}
.logo .logo-body {
  color: #000000;
}
.logo {
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* site navigation*/
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Hero*/
.hero {
  background-color: var(--background-for-white-text);
  text-align: center;
}
.hero-title {
  color: var(--secondary-text-color);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Sections*/
.section-title {
  color: var(--title-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.team {
  background-color: #f5f4fa;
}
.section-adv .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.section-adv .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section-work .title {
  color: var(--secondary-text-color);
  background-color: var(--background-for-white-text);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.section-team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.section-team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/*buttons in hero and in footer*/
.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.button.primery {
  font-weight: 700;
}
.button.secondary {
  font-weight: 900;
}

/*footer*/

.footer {
  background-color: var(--background-footer);
  color: var(--secondary-text-color);
}

/* logo footer*/
.footer .logo-head {
  color: var(--accent-color);
  font-size: 22px;
  line-height: 1.18;
}
.footer .logo-body {
  color: var(--secondary-text-color);
  font-size: 22px;
  line-height: 1.18;
}

.contacts.list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.contacts .link {
  color: var(--links-footer);
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.links .link {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.links .link:hover,
.links .link:focus {
  color: var(--accent-color);
}
.signature {
  color: var(--signature-text-color);
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
}

/* for portfolio.html*/
.filters-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
}

.filters-button:hover,
.filters-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.examples-links h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
}

.examples-links {
  text-decoration: none;
}
.examples-links:active {
  color: var(--primary-text-color);
}

.examples-names {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.examples-text {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
